html,
body {
	height: 100%;
	font-family: "Roboto Slab", sans-serif;
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 1200px) {
	body {
		font-size: 0.9em;
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

hr {
	border: 1px solid #dfdfdf;
	margin: 2em 0;
}

a {
	color: #30549b;
	text-decoration: inherit;
}

header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.field label {
	display: block;
}

.field input[type="text"],
.field input[type="password"] {
	display: block;
	padding: 1em 1em 0.5em 0.5em;
	border-radius: 5px;
	border: 1px solid #30549b;
	margin-bottom: 1em;
}

.field input[type="text"]::placeholder,
.field input[type="password"]::placeholder {
	font-size: 0.8em;
	color: #87898a;
}

@media (max-width: 1200px) {
	header {
		right: 0;
		justify-content: center;
		border-bottom: 1px solid #dfdfdf;
	}
}

header .logo {
	height: 75px;
	margin: 12.5px 25px;
	cursor: pointer;
}

.supported-credential-configurations {
	display: none;
	position: fixed;
	z-index: 900;
	top: 70px;
	left: 50px;
	width: 400px;
	background: white;
	border-top: 1px solid #c2d8ff;
	border-right: 1px solid #c2d8ff;
	border-bottom: 1px solid #c2d8ff;
	border-radius: 7px;
}

@media (max-width: 1200px) {
	.supported-credential-configurations {
		top: 100px;
		text-align: center;
		width: 100%;
		right: 0;
		left: 0;
	}
}

.supported-credential-configurations .credential-configuration {
	border-bottom: 1px solid #c2d8ff;
	border-left: 1px solid #c2d8ff;
	padding: 1em;
	display: block;
	color: inherit;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.supported-credential-configurations .credential-configuration:last-child {
	border-bottom: none;
}

.supported-credential-configurations .credential-configuration:hover {
	background: #c2d8ff;
	padding-left: 1.5em;
	font-weight: bold;
}

.main {
	height: 100%;
	display: flex;
}

.heading {
	flex: 0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #dfdfdf;
	background: #fafafa;
}

.heading p {
	max-width: 450px;
	color: #87898a;
	text-align: justify;
}

.content {
	height: 100%;
	flex: 0.5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1200px) {
	.heading {
		display: none;
	}

	.content {
		flex: 1;
	}
}

.login-wrapper {
	position: relative;
}

.login-wrapper input {
	font-size: 1.2em;
	width: 250px;
}

.credential-offer,
.login-wrapper {
	position: relative;
	text-align: center;
	padding: 2em;
	padding-top: 3em;
	border-radius: 10px;
	background: white;
	border: 1px solid #dfdfdf;
}

.credential-offer .selection {
	margin-top: -0.666em;
}

@media (max-width: 1200px) {
	.credential-offer,
	.login-wrapper {
		padding-top: 5em;
		max-width: 400px;
	}
	.credential-offer .selection {
		margin-top: -1.75em;
	}
}

.credential-offer .title,
.login-wrapper .title {
	position: absolute;
	top: -2em;
	right: 0;
	left: -35%;
	text-align: left;
}

@media (max-width: 1200px) {
	.credential-offer .title,
	.login-wrapper .title {
		left: 0;
		text-align: center;
	}
}

.credential-offer .title h2,
.login-wrapper .title h2 {
	line-height: 1.05em;
	display: inline-block;
	padding: 0.5em 1em;
	margin: 0;
	background: white;
	border-radius: 10px;
	color: #676c6f;
}

.qrcode {
	margin: 0 1em;
	margin-bottom: 3em;
	border-radius: 3px;
}

.qrcode img {
	width: 250px;
}

.error {
	position: fixed;
	z-index: 1000;
	bottom: 1em;
	right: 1em;
	left: calc(50% + 1em);
	text-align: center;
	background: rgba(205, 90, 90, 0.2);
	border: 1px solid rgba(205, 90, 90, 1);
	color: rgba(205, 90, 90, 1);
	padding: 1em 2em;
	text-transform: capitalize;
}

@media (max-width: 1200px) {
	.error {
		left: 1em;
	}
}

.button {
	cursor: pointer;
	display: inline-block;
	padding: 1em 2em;
	background: #00246b;
	border-radius: 3px;
	color: white;
	text-decoration: none;
	font-size: 1em;
}

.button.fluid {
	display: block;
}

button.button.fluid {
	width: 100%;
}

.button:hover {
	opacity: 0.9;
}
