<div class="credential-offer">
  {{#if @error}}
  <div class="error">{{@error_description}}</div>
  {{else}}
  <img src="{{@credentialOfferQrCode}}" />
  <a href="{{@credentialOfferUrl}}">Get credential</a>
  {{/if}}
</div>
