name: Documentation site (GitHub pages)

on: [push]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    strategy:
      matrix:
        pnpm-version: ['10.15.0']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup pnpm ${{ matrix.pnpm-version }}
      uses: pnpm/action-setup@v3
      with:
        version: ${{ matrix.pnpm-version }}
    - run: pnpm install --frozen-lockfile
    - run: pnpm run documentation

    - name: Setup Pages
      id: setup_pages
      uses: actions/configure-pages@v5

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: ./docs

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
